/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {  
  --hue: 207;
  --sat: 90%;
  --lig: 61%;
  --first-color: hsl(var(--hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--hue), var(--sat), 57%); /* -4% */
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 12%, 45%);
  --text-color-light: hsl(var(--hue), 8%, 75%);
  --text-color-lighten: hsl(var(--hue), 8%, 92%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #fff;
  --body-font: 'Poppins', sans-serif;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --light-background-color: var(--body-color);
  --light-text-color: var(--text-color);
  --dark-background-color: hsl(var(--hue), 40%, 8%);
  --dark-text-color: var(--title-color);
}

@media screen and (min-width: 968px) {
  :root {
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}



/* =============== FONT, SIZE, COLOR CHỮ =============== */


body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
button,
input,
textarea {
  font-size: var(--text-styling-font-size);
  color: #fff;
  font-family: var(--body-font);
}

.title {
  
}

/*=============== PHẦN PROFILE ===============*/




.profile {
  position: relative;
  padding-top: 3.5rem;
}

.profile__container {
  display: grid;
  gap: 20px;
  row-gap: 2rem;
}

.profile__data {
  display: grid;
  text-align: center;
}

.profile__perfil {
  width: 100px;
  height: 100px;
  background: linear-gradient(180deg, 
              hsla(var(--hue), var(--sat), var(--lig), 1) 0%, 
              hsla(var(--hue), var(--sat), var(--lig), .2) 100%);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.profile__perfil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile__border {
  border: 3.5px solid var(--first-color);
  justify-self: center;
  width: 135px;
  height: 135px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-bottom: .75rem;
}

.profile__name {
  font-size: var(--h2-font-size);
}

.profile__profession {
  font-size: var(--smaller-font-size);
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 1rem;
}

.profile__social {
  display: flex;
  justify-content: center;
  column-gap: .75rem;
}

.profile__social-link {
  font-size: 1.25rem;
  color: var(--title-color);
  transition: .3s;
}

.profile__social-link:hover {
  color: var(--first-color);
}

.profile__info {
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  column-gap: 2.5rem;
}

.profile__info-group {
  text-align: center;
}

.profile__info-number {
  font-size: var(--normal-font-size);
  margin-bottom: .25rem;
}

.profile__info-description {
  font-size: var(--smaller-font-size);
  font-weight: 500;
}

.profile__buttons, 
.profile__buttons-small {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile__buttons {
  column-gap: 1rem;
}

.profile__buttons-small {
  column-gap: .25rem;
}





/*==================== PHẦN PROFILE ++ =====================++ */





.profile__container {
  display: grid;
  gap: 20px;
}
.profile__data {
  text-align: center;
}
.profile__border {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  border: 0.01px solid black;
}
.profile__perfil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile__name {
  font-size: 24px;
  margin: 10px 0;
}
.profile__profession {
  font-size: 16px;
  color: #888;
  margin: 5px 0;
}
.profile__info {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.profile__info-group {
  text-align: center;
}
.profile__info-number {
  font-size: 24px;
  font-weight: bold;
}
.profile__info-description {
  font-size: 14px;
  color: #888;
}
.profile__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button {
  display: inline-block;
  margin: 5px 0;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: rgba( 7, 152, 219, 0.7); /* Màu làm mờ của background */
  border: none;
  border-radius: 20px; /* Bán kính bo tròn */
  cursor: pointer;
}

.button:hover {
  background-color: rgba(52, 152, 219, 1); /* Màu nền của background */
}




/* RESET CSS */
*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

a,
a:visited {
  color: #000000;
  text-decoration: none;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(to right bottom, rgb(26, 24, 37), rgb(26, 24, 37));
  background-attachment: fixed; /* Giữ ảnh nền cố định khi cuộn trang */
}








/* PHẦN CONTACT */




.contact-items {
    width: 95%;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
}

.link-item a {
  color: #fff;
  text-decoration: none;
}

.link-item a:hover {
  color: #eaeaea;
}

/* Đưa các chữ vào trung tâm (center) */
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.link-item {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 5px 0;
  font-weight: 700;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.185);
  background-color: rgba(36, 33, 33, 0.242); /* Màu nền mờ (sử dụng rgba()) */
  backdrop-filter: blur(3px); /* Áp dụng hiệu ứng mờ (blur) */
  transition: transform 0.3s ease;
}

/* Đổi màu của liên kết và các chữ khác khi hover */
.link-item:hover {
  transform: scale(1.1); /* Khi trỏ chuột vào, phóng to lên 110% kích thước ban đầu */
  background-color: rgba(51, 51, 51, 0.7); /* Màu nền mờ khi hover */
  backdrop-filter: blur(4px); /* Tăng mức blur khi hover */
}



.link-item i {
  font-size: 20px;
  margin-right: 10px;
}
/* Additional styles for responsiveness */
@media screen and (min-width: 769px) {
    .links {
        flex-direction: Column; /* Đổi từ flex-wrap thành flex-direction */
    }
}





/*=============== FOOTER ===============*/
/* Căn giữa nội dung trong .footer__copy */
.footer__copy {
  display: flex;
  justify-content: center;
}

/* Đổi màu của các liên kết và các chữ khác */
.contact-items a, .footer__copy span {
  color: #eaeaea; /* Mã màu trắng (#eaeaea) */
  text-decoration: none; /* Loại bỏ gạch chân cho liên kết và các chữ khác */
  transition: color 0.3s; /* Thêm hiệu ứng mượt mà khi thay đổi màu */
}

/* Đổi màu của liên kết và các chữ khác khi hover */
.contact-items a:hover, .footer__copy a:hover {
  color: #eaeaea; /* Mã màu trắng nhạt (#eaeaea) */
  text-decoration: underline; /* Thêm gạch chân khi hover */
}


/*=============== THANH CUỘN ===============*/
::-webkit-scrollbar {
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(var(--hue), 8%, 66%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--hue), 8%, 54%);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--hue), 8%, 44%);
}

/*=============== SIZE  ===============*/



/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .profile__info {
    column-gap: 1.5rem;
  }
  .profile__buttons {
    flex-direction: column;
    row-gap: 1rem;
  }

  .skills__box {
    column-gap: 1rem;
  }
  
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .projects__content {
    grid-template-columns: 332px;
    justify-content: center;
  }

  .filters__content {
    width: 332px;
    margin: 3rem auto;
  }
}
@media screen and (min-width: 776px) {
  .projects__content,
  .skills__content {
    grid-template-columns: repeat(2, 332px);
  }

  .footer__copy {
    margin: 1.5rem 0 1.5rem;
  }
}
/* For large devices */
@media screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }


  .footer__copy {
    margin: 4.5rem 0 2.5rem;
  }
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none; 
}


