@font-face {
    font-family: 'iCiel Pony';
    src: url('iCielPony.eot');
    src: url('iCielPony.eot?#iefix') format('embedded-opentype'),
        url('Pony.ttf')  format('truetype'),
        url('iCielPony.woff2') format('woff2'),
        url('iCielPony.woff') format('woff'),
        url('iCielPony.svg#iCielPony') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html,
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  background: rgb(0, 0, 0);
}
@import url("https://fonts.googleapis.com/css?family=Barlow");

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "iCiel Pony", sans-serif;
  letter-spacing: 0.5px;
}
.container {
  width: 100%;
  position: relative;
  overflow: hidden;
}
a {
  text-decoration: 12s;
}
h1.main,
p.demos {
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s;
}
.sp-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: -webkit-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
  background: -moz-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
  background: -ms-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
  background: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
}
.sp-content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 1000;
}
.sp-container h2 {
  position: absolute;
  top: 50%;
  line-height: 100px;
  height: 90px;
  margin-top: -68px;
  font-size: 30px;
  width: 100%;
  text-align: center;
  color: transparent;
  -webkit-animation: blurFadeInOut 3s ease-in backwards;
  -moz-animation: blurFadeInOut 3s ease-in backwards;
  -ms-animation: blurFadeInOut 3s ease-in backwards;
  animation: blurFadeInOut 3s ease-in backwards;
}

.sp-container h2.frame-1 {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
  animation-name: Frame-1;
}
@keyframes Frame-1 {
  0% {
    color: #f82525;
  }
  50% {
    color: #f82525;
  }
  100% {
    color: transparent;
  }
}
@keyframes Frame-2 {
  150% {
    color: #f82525;
  }
  50% {
    color: #f82525;
  }
  100% {
    color: transparent;
  }
}
.sp-container h2.frame-2 {
  -webkit-animation-delay: 2.6s;
  -moz-animation-delay: 2.6s;
  -ms-animation-delay: 2.6s;
  animation-delay: 2.6s;
  animation-name: Frame-2;
}
@keyframes Frame-3 {
  150% {
    color: #f82525;
    /* font-size: 27px; */
  }
  50% {
    color: #f82525;
    /* font-size: 27px; */
  }
  100% {
    color: transparent;
  }
}
.sp-container h2.frame-3 {
  -webkit-animation-delay: 5.2s;
  -moz-animation-delay: 5.2s;
  -ms-animation-delay: 5.2s;
  animation-delay: 5.2s;
  animation-name: Frame-3;
}
@keyframes Frame-4 {
  150% {
    color: #f82525;
  }
  50% {
    color: #f82525;
  }
  100% {
    color: transparent;
  }
}
.sp-container h2.frame-4 {
  font-size: 30px;
  -webkit-animation-delay: 7.6s;
  -moz-animation-delay: 7.6s;
  -ms-animation-delay: 7.6s;
  animation-delay: 7.6s;
  animation-name: Frame-4;
}



.sp-container h2.frame-5 {
  font-size: 30px;
  -webkit-animation-delay: 11s;
  -moz-animation-delay: 11s;
  -ms-animation-delay: 11s;
  animation-delay: 11s;
  animation-name: Frame-5;
}

@keyframes Frame-5 {
  150% {
    color: #f82525;
  }
  50% {
    color: #f82525;
  }
  100% {
    color: transparent;
  }
}

.sp-container h2.frame-6 {
  font-size: 30px;
  -webkit-animation-delay: 14s;
  -moz-animation-delay: 14s;
  -ms-animation-delay: 14s;
  animation-delay: 14s;
  animation-name: Frame-6;
}

@keyframes Frame-6 {
  150% {
    color: #f82525;
  }
  50% {
    color: #f82525;
  }
  100% {
    color: transparent;
  }
}

.sp-container h2.frame-7 {
  font-size: 30px;
  -webkit-animation-delay: 16.8s;
  -moz-animation-delay: 16.8s;
  -ms-animation-delay: 16.8s;
  animation-delay: 16.8s;
  animation-name: Frame-7;
}

@keyframes Frame-7 {
  150% {
    color: #f82525;
  }
  50% {
    color: #f82525;
  }
  100% {
    color: transparent;
  }
}

.sp-container h2.frame-8 {
  font-size: 30px;
  -webkit-animation-delay: 19.3s;
  -moz-animation-delay: 19.3s;
  -ms-animation-delay: 19.3s;
  animation-delay: 19.3s;
  animation-name: Frame-8;
}

@keyframes Frame-8 {
  150% {
    color: #f82525;
  }
  50% {
    color: #f82525;
  }
  100% {
    color: transparent;
  }
}

.sp-container h2.frame-9 {
  font-size: 30px;
  -webkit-animation-delay: 21s;
  -moz-animation-delay: 21s;
  -ms-animation-delay: 21s;
  animation-delay: 21s;
  animation-name: Frame-9;
}

@keyframes Frame-9 {
  150% {
    color: #f82525;
  }
  50% {
    color: #f82525;
  }
  100% {
    color: transparent;
  }
}

.sp-container h2.frame-10 {
  font-size: 30px;
  -webkit-animation-delay: 22.5s;
  -moz-animation-delay: 22.5s;
  -ms-animation-delay: 22.5s;
  animation-delay: 22.5s;
  animation-name: Frame-10;
}

@keyframes Frame-10 {
  150% {
    color: #f82525;
  }
  50% {
    color: #f82525;
  }
  100% {
    color: transparent;
  }
}

.sp-globe {
  position: absolute;
  width: 282px;
  height: 273px;
  left: 50%;
  top: 50%;
  margin: -137px 0 0 -141px;

  -webkit-animation: fadeInBack 3.6s linear 14s backwards;
  -moz-animation: fadeInBack 3.6s linear 14s backwards;
  -ms-animation: fadeInBack 3.6s linear 14s backwards;
  animation: fadeInBack 3.6s linear 14s backwards;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
  -webkit-transform: scale(5);
  -moz-transform: scale(5);
  -o-transform: scale(5);
  -ms-transform: scale(5);
  transform: scale(5);
}
.sp-circle-link {
  position: absolute;
  left: 50%;
  bottom: 100px;
  margin-left: -50px;
  text-align: center;
  line-height: 100px;
  width: 100px;
  height: 100px;
  background: #fff;
  color: #3f1616;
  font-size: 25px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: fadeInRotate 1s linear 15s backwards;
  -moz-animation: fadeInRotate 1s linear 15s backwards;
  -ms-animation: fadeInRotate 1s linear 15s backwards;
  animation: fadeInRotate 1s linear 15s backwards;
  -webkit-transform: scale(0.5) rotate(0deg);
  -moz-transform: scale(0.5) rotate(0deg);
  -o-transform: scale(0.5) rotate(0deg);
  -ms-transform: scale(0.5) rotate(0deg);
  transform: scale(0.5) rotate(0deg);
}
.sp-circle-link:hover {
  background: #85373b;
  color: #fff;
}
/**/

@-webkit-keyframes blurFadeInOut {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    -webkit-transform: scale(0.7);
  }
  20%,
  75% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    -webkit-transform: scale(0.5);
  }
  100% {
    opacity: 0;
    text-shadow: 0px 0px 50px #fff;
    -webkit-transform: scale(0);
  }
}
@-webkit-keyframes blurFadeIn {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    -webkit-transform: scale(0.7);
  }
  50% {
    opacity: 0.5;
    text-shadow: 0px 0px 10px #fff;
    -webkit-transform: scale(0.6);
  }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    -webkit-transform: scale(0.5);
  }
}
@-webkit-keyframes fadeInBack {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
  }
  50% {
    opacity: 0.4;
    -webkit-transform: scale(0.5);
  }
  100% {
    opacity: 0.2;
    -webkit-transform: scale(2.5);
  }
}
@-webkit-keyframes fadeInRotate {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(360deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(0.5) rotate(0deg);
  }
}
/**/

@-moz-keyframes blurFadeInOut {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    -moz-transform: scale(0.7);
  }
  20%,
  75% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    -moz-transform: scale(0.5);
  }
  100% {
    opacity: 0;
    text-shadow: 0px 0px 50px #fff;
    -moz-transform: scale(0);
  }
}
@-moz-keyframes blurFadeIn {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    -moz-transform: scale(0.7);
  }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    -moz-transform: scale(0.5);
  }
}
@-moz-keyframes fadeInBack {
  0% {
    opacity: 0;
    -moz-transform: scale(0);
  }
  50% {
    opacity: 0.4;
    -moz-transform: scale(1);
  }
  100% {
    opacity: 0.2;
    -moz-transform: scale(5);
  }
}
@-moz-keyframes fadeInRotate {
  0% {
    opacity: 0;
    -moz-transform: scale(0) rotate(360deg);
  }
  100% {
    opacity: 1;
    -moz-transform: scale(0.5) rotate(0deg);
  }
}
/**/

@keyframes blurFadeInOut {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    transform: scale(0.7);
  }
  20%,
  75% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    transform: scale(0.5);
  }
  100% {
    opacity: 0;
    text-shadow: 0px 0px 50px #fff;
    transform: scale(0);
  }
}
@keyframes blurFadeIn {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    transform: scale(0.7);
  }
  50% {
    opacity: 0.5;
    text-shadow: 0px 0px 10px #fff;
    transform: scale(0.6);
  }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    transform: scale(0.5);
  }
}
@keyframes fadeInBack {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 0.4;
    transform: scale(1);
  }
  100% {
    opacity: 0.2;
    transform: scale(5);
  }
}
@keyframes fadeInRotate {
  0% {
    opacity: 0;
    transform: scale(0) rotate(360deg);
  }
  100% {
    opacity: 1;
    transform: scale(0.5) rotate(0deg);
  }
}

canvas {
  position: absolute;

  width: 100%;
  height: 100%;
}

canvas {
  /* top: 50%;
      left: 50%; */
  z-index: 1;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  animation: heart 1s ease infinite;
}

@keyframes heart {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1);
  }
  60% {
          transform: scale(0.986);
      }
  100% {
    transform: scale(1);
  }
}
